@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: auto;
  padding: auto;
}

body{
  font-family: 'Bebas Neue', sans-serif;
  overflow-x: hidden;
 background : black;
}
/* Navbar */

.navbar {
  display: flex;
  background-color: black;
  height: 10vh;

}


.nav-flex {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  
  list-style-type: none;
  margin: 0;

  margin-left: 300px;
  
}
.nav-item{
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 24px;
  text-decoration: none;

}

.nav-item:hover{
  color: #e0701d;
  

}
.nav-btn{
  color : #e0701d;
}



.nav-logo {
margin-left: 300px;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: black;


}

.nav-logo img{
  width: 150px;
  height: 90px;
}

/* Home */

.home-container{
 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh; /* Adjust the height as needed */
  color: white;
  background-color: #3f2f5a;
}


.home-heading{
  position: absolute;
  top: 15%;
  right: 60%;
  margin-left: 20px ;
  text-align: center;
  font-size: 54px;
  font-weight: 500;
  color: white;
}


.image-component{
  text-align: center;
  position: relative;
  color: white;
}

.contained-button{
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  background: #e0701d;
  color: black;
  height: 5vh;
  top: 55%;
  left: 10%;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;

}

.contained-button :hover{



}

.normal-button{
  display: flex;
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  color: #e0701d;
  height: 5vh;
  top: 55%;
  left: 23%;
  /* transition: ease 1.9s; */

}

.normal-button a{
  display: flex;
 
}
.normal-button :hover{
  transform: translateY(-5px);
}
.normal-button a i{
  margin-left: 5px;
}

.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
 }
 
 .gg-arrow-right::after,
 .gg-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px
 }
 
 .gg-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
 }
 
 .gg-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
 } 



/* Carousel */


.carousel{
 
  font-size: 34px;
  animation: slide-in 10s linear infinite;
  width: 100%;
  text-align: center;
  padding: 1px;
  overflow-x: hidden; /* Add this line to prevent horizontal scrolling */

  

}

.logo{

  margin-right: 5px;

}

/* Services */
.services{
  background-color: black;
  text-align: center;
  font-size: 34px;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
 
}
.services-heading{
  margin-top: 100px;
  color: #e0701d;
  font-size: 44px;
  font-weight: 500;
}

.card-heading{
  color: black;
  font-size: 24px;

  font-weight: 800;
  margin-top: 100px;
  margin-left : 0px
}

.service-description{
  right: 10%;
  font-size: 22px;
  margin-top: 50px;
  width: 80%;
  text-align: center;
}

.cards{

  margin-top : 50px;
  display: flex;
  width : 70%;
  
 
 
}

.card{
  background-color: #e0701d;
  margin: 0px;
  width: 33%;
  border: 1px solid black;
  height: 50vh;
margin-right: 40px;
  box-shadow: 0 0 10px 1px rgba(225, 225, 225);
  color: black;
}

.card button{
  cursor: pointer;
  margin-top: 50px;
background: none;
  color: black;
  width: 30%;
  font-size: 20px;
  border : none;
  font-weight: 700;
  

}

.card:hover{
  box-shadow: 0 0 20px 2px rgba(63, 47, 90) ;
  transform: translateY(-10px);
}

.card:hover button{
}
.services-outer{
  display: flex;  
  margin-top : 32px;
}

/* About */

.review {
  position: relative;

  margin-top: 50px;
  background-color: black;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.review-heading{
  z-index: 10;
  font-size: 44px;
  color: #e0701d;
  position: absolute;
  top: 10%;
}

.review-card {
background-color: #3f2f5a;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(134, 134, 134, 0.96);
  width: 70%;
  margin-top: 50px;

}
.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  margin-bottom: 10px;
}

.profile img {
  border-radius: 200px;
  margin-top: -100px; /* Adjust the margin-top value to center the image */
}
.review-elemnts{
  display: flex;

  flex-direction: column ;

  justify-content: center;
margin-top: 20px;
  margin: 10px !important;

}
.designation{
  font-style: italic;
  color: white;
}
.review-content{
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}

.company-logo-container{
  display: flex;
  position: absolute;
  top: 70%
}
.company-logo{
  margin-top: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.company-logo:hover{

  transform: translateY(-8px);
  box-shadow: 0 0 9px 1px rgb(23, 22, 23);
 
}

/* Contact */

.contact{
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.details{

  position: absolute;
  width: 40%;
  height: 40vh;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
  top: 20%;
  left : 5%;
}

.social{
  display: flex;
  width: 50%;
  flex-direction: row;
  margin-top : 50px;
}
.gg-facebook {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
 }
 
 .gg-facebook::after,
 .gg-facebook::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box
 }
 
 .gg-facebook::before {
  width: 8px;
  height: 20px;
  border-left: 4px solid;
  border-top: 4px solid;
  border-top-left-radius: 5px;
  left: 6px
 }
 
 .gg-facebook::after {
  width: 10px;
  height: 4px;
  background: currentColor;
  top: 7px;
  left: 4px;
  transform: skew(-5deg)
 } 
 .gg-twitter {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px
 }
 
 .gg-twitter::after,
 .gg-twitter::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 4px
 }
 
 .gg-twitter::before {
  width: 9px;
  height: 14px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-bottom-left-radius: 6px;
  background:
  linear-gradient(
  to left,currentColor 12px,transparent 0)
  no-repeat center 2px/10px 4px;
  top: 4px
 }
 
 .gg-twitter::after {
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 20px;
  top: 2px;
  box-shadow: 7px 4px 0,7px 12px 0
 } 
 .gg-instagram {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  border-radius: 4px;
  width: 20px;
  height: 20px
 }
 
 .gg-instagram::after,
 .gg-instagram::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 
 .gg-instagram::after {
  border: 2px solid;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 3px
 }
 
 .gg-instagram::before {
  border-radius: 3px;
  width: 2px;
  height: 2px;
  background: currentColor;
  right: 1px;
  top: 1px
 } 

.contact-logo{
  width: 150px;
  height: 106px;
}
.details-heading{
  font-size: 24px;
  color: white;
}
.form{
 
  position: absolute;
  width: 40%;
  border: 1px solid rgb(54, 54, 2);
  background : #e2ccff;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
  top: 13%;
  right: 3%;
  border-radius: 20px;

}

.form-heading{
  margin-top: 40px;
    margin-bottom: 40px;
}
.form-subheading{
  font-size: 32px;
  font-weight: 100;
}

.icons{
  margin-top: 10px;
  width: 80%;
  display: flex;
}
.gg-phone {
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(var(--ggs,1))
 }
 
 .gg-phone::after,
 .gg-phone::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 
 .gg-phone::after {
  width: 18px;
  height: 18px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 12px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  left: 2px;
  bottom: 2px;
  background:
  linear-gradient(
  to left,
  currentColor 10px,
  transparent 0
  ) no-repeat right 11px/6px 4px,
  linear-gradient(
  to left,
  currentColor 10px,
  transparent 0
  ) no-repeat -1px 0/4px 6px
 }
 
 .gg-phone::before {
  width: 20px;
  height: 20px;
  border: 6px double;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  bottom: 2px;
  left: 2px
 } 

 .gg-mail,
 .gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid
 }
 
 .gg-mail {
  margin-bottom: 10px;
  overflow: hidden;
  transform: scale(var(--ggs,1));
  position: relative;
  width: 18px;
  border-radius: 2px
 }
 
 .gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0
 } 


 .input{
  margin-top : 30px;
  background-color: white;
  width: 70%;
 
 }
 .input-fields{
  display: flex;
  padding: 20px;
 flex-direction: column;
 margin-bottom: 30px;
 }

 .input-fields input{
  margin-top: 20px;

  width: 80%;
  font-size: 20px;
  margin-bottom: 10px;
  border : none;

 }
/* Footer */

.footer{
  height: 20vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: black;
}

.footer-logo{

  position: relative;

}

/* About Us */

.container{
  

  width: 90%;
  border: 1px solid black;
  height: 70vh;
  
}



/* Keyframes */


@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}