@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: auto;
  padding: auto;
}

body{
  font-family: 'Bebas Neue', sans-serif;
}
/* Navbar */

.navbar {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  background-color: #c9fbff;
}

.empty-div{
  height: 7vh;
  background-color: black;
}
.nav-flex {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  
}
.nav-item{
  color: black;
  margin-right: 5px;
  padding-left: 10px;
  font-size: 24px;
  text-decoration: none;

}

.nav-logo {
  margin-right: auto;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

/* Home */

.home-container{
 
  position: relative;
background-color: #c9fbff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh; /* Adjust the height as needed */
  color: white;
}


.home-heading{
  position: absolute;
  top: 10%;
  right: 28%;

  text-align: center;
  font-size: 54px;
  font-weight: 500;
  color: black;
}


.image-component{
  text-align: center;
  position: relative;
  color: white;
}

.contained-button{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  background: black;
  color: white;
  height: 5vh;
  top: 50%;
  left: 42%;
  border: none;
  border-radius: 20px;
  font-size: 18px;
}

.normal-button{
  cursor: pointer;
  position: absolute;
  font-size: 24px;
  color: black;
  height: 5vh;
  top: 51%;
  left: 56%;

}



/* Carousel */


.carousel{
 
  font-size: 34px;
  animation: slide-in 10s linear infinite;
  width: 100%;
  text-align: center;
  padding: 10px;
  

}

.logo{

  margin-right: 5px;

}

/* Services */

.services{

  text-align: center;
  
  font-size: 34px;
  margin-top: 50px;
  width: 90%;
  margin-bottom: 20px;
  justify-content: center;
 
}
.services-heading{
  
  font-size: 34px;
  font-weight: 500;
}

.cards{

  display: flex;

  margin-top: 40px;
  width : 90%;
  margin-bottom: 10px;
 
 
}

.card{
  margin-right: 10px;
  width: 33%;
  border: 1px solid black;
  box-shadow: 0 0 4px 1px;
  height: 50vh;
  transition: transform 0.3s ease-in-out;


}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 9px 1px rgb(147, 7, 185);
}

.card-button{
  background-color: white;
  color: black;
  border: none;
  box-shadow: 0 0 9px 1px;
  cursor: pointer;
  margin-bottom: 20px;
}
/* About */

.review {
  position: relative;

  margin-top: 50px;

  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-heading{
  z-index: 10;
  font-size: 44px;
  color: black;
  position: absolute;
  top: 10%;
}

.review-card {
  background-color: white;
  position: absolute;
  display: flex;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(134, 134, 134, 0.96);

}
.profile{

  margin: 10px;

}
 
.review-elements{

  margin: 10px !important;

}
.designation{
  font-style: italic;
  color: bisque;
}
.review-content{

  font-weight: 500;
}

.company-logo-container{
  display: flex;
  position: absolute;
  top: 70%
}
.company-logo{
  margin-top: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.company-logo:hover{

  transform: translateY(-8px);
  box-shadow: 0 0 9px 1px rgb(23, 22, 23);
 
}

/* Contact */

.contact{
  display: flex;
  flex-direction: row;
}

.details{
  width: 40%;
  border: 1px solid rgb(54, 54, 2);
  height: 40vh;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
}

.form{
  width: 40%;
  border: 1px solid rgb(54, 54, 2);
  height: 40vh;
  font-size: 44px;
  text-align: center;
  margin-bottom: 20px;
}


/* Footer */

.footer{
  height: 20vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: black;
}

.footer-logo{

  position: relative;

}

/* About Us */

.container{
  

  width: 90%;
  border: 1px solid black;
  height: 70vh;
  margin-bottom: 20px;
}



/* Keyframes */


@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}